name: Generate sitemap

on:
  push:
    branches:
      - main   # or 'master' if your repo uses master

jobs:
  build-sitemap:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Generate sitemap
      uses: cicirello/generate-sitemap@v1
      with:
        base-url-path: "https://austinpyne.github.io/"
        include-html: true
        sitemap-format: xml

    - name: Commit sitemap.xml
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Auto-generate sitemap"
        file_pattern: "sitemap.xml"
